extends base

block content
  mixin input(type, label, name, value)
    .input-container
      input(type='#{type}' id='#{label}' name='#{name}' value=value required)
      label(for='#{label}')=label
      .bar
  mixin button(text, id)
    .button-container
      button(id='#{id}')
        span=text

  // Pen Title
  .pen-title
    h1 Homework-11-login
    span
      |  <i class='fa fa-code'></i> by <a href='https://github.com/hyb1996'>Huang Yibin</a>
    
  .container(class='#{register||""}')
    .card
    .card
      h1.title Login
      form(action='login', method='POST')
        .input-container
          input(type='text' id='username' name='username' value='#{user.name||""}' required)
          label(for='username')='Username'
          .bar
        .input-container
          input(type='password' id='password' name='password' value='#{user.password||""}' required)
          label(for='#{password}')='Password'
          .bar
        p#login_error.error #{login_error}
        +button('Go', 'btn_login')
    .card.alt
      .toggle
      h1.title Register
        .close
      form#signin(action='signin', method='POST')
        .input-container
          input(type='text' id='name' name='username' value='#{user.name||""}' required)
          label(for='username')='Username'
          .bar
        p#name_error.error #{register_error.name}
        .input-container
          input(type='password' id='password' name='password' value='#{user.password||""}' required)
          label(for='#{password}')='Password'
          .bar
        p#password_error.error #{register_error.password}
        .input-container
          input(type='text' id='id' name='id' value='#{user.id||""}' required)
          label(for='id')='ID'
          .bar
        p#id_error.error #{register_error.id}
        .input-container
          input(type='text' id='email' name='email' value='#{user.email||""}' required)
          label(for='email')='Email'
          .bar
        p#email_error.error #{register_error.email}
        .input-container
          input(type='text' id='phone' name='phone' value='#{user.phone||""}' required)
          label(for='phone')='Phone'
          .bar
        p#phone_error.error #{register_error.phone}
        +button('Sign Up', 'btn_register')

  // Portfolio
  a#portfolio(href='https://github.com/hyb1996/modern-web-homwork' title='View the repo on github!')
    i.fa.fa-link
    
  // CodePen
  a#codepen(href='https://github.com/hyb1996' title='View my github!')
    i.fa.fa-codepen