doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/layout_style.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/detail.js')
  body
    p #{message||""}
    p 用户详情
    p Name: #{user.name}
    p ID: #{user.id}
    p Email: #{user.email}
    p Phone: #{user.phone}
    button#logout 退出登录